// fonts
$font-family-inter: 'Inter', sans-serif;
$inter-bold: 700;
$inter-semi-bold: 600;
$inter-regular: 400;

// colors
$grey-font: #898693;
$purple-gradient: linear-gradient(180deg, #9D94F5 0%, #756AEC 100%);

